{% extends "base.html" %}
{% block title %}Lista{% endblock title %}
{% load zip_tag %}
{% block content %}
<table class="table table-sm table-responsive">
  <thead>
    <tr>
      <th>Bar</th>
      <th>Cerveceria</th>
      <th>Variedad</th>
      <th>Precio</th>
      <th>% Variación</th>
      <th>Precio HH</th>
      <th>Fecha</th>
    </tr>
  </thead>
  <tbody>

  <!-- Recorremos los objetos o registros que tenemos en nuestra tabla 'postres' y los listamos -->
    {% for data, item in brewery_list|zip:calc_perc %}
    <tr>
      <td>{{ data.bar_name }}</td>
      <td>{{ data.brewery }}</td>
      <td>{{ data.beer_type.name }}</td>
      <td>{{ data.price }}</td>
      <td> {{ item }}</td>
      <td>{{ data.price_hh }}</td>
      <td>{{ data.data_date|date:"j/n/y" }}</td>
      <td>
        <form method="POST" action="{% url 'delete_view' data.id %}">
          {% csrf_token %}
          <div class="btn-group">

            <a href="{% url 'edit_view' data.id %}" title="Editar" type="button" class="btn btn-primary btn-sm">Editar </a>
            <button class="btn btn-danger btn-sm" type="submit">
              Eliminar
            </button>
          </div>
        </form>

      </td>
    </tr>
  {% empty %}
  <tr>
    <td></td>
    <td>No hay registros</td>
    <td></td>
    <td></td>
    <td><strong>{% now "d-m-y" %}</strong></td>

  </tr>
  {% endfor %}
  </tbody>
</table>
<div align="left" class="btn_crear mb-3">
  <a href="{% url 'create_view' %}" type="button" class="btn btn-primary">+</a>
</div>
{% endblock content %}
