{% extends "base.html" %}
{% block title %}Lista detalle{% endblock title %}

{% block content %}

<table class="table table-sm table-responsive">
  <thead>
    <tr>
      <th scope="col">Bar</th>
      <th scope="col">Cerveceria</th>
      <th scope="col">Variedad</th>
      <th scope="col">Precio</th>
      <th scope="col">Precio HH</th>
      <th scope="col">Fecha</th>
    </tr>
  </thead>
  <tbody>

    {% for data in brewery_list %}
    <tr>
      <td><a href="{% url 'detail_view' data.bar_name.pk %}">{{ data.bar_name }}</a></td>
      <td>{{ data.brewery }}</td>
      <td>{{ data.beer_type.name }}</td>
      <td>{{ data.price }}</td>
      <td>{{ data.price_hh }}</td>
      <td>{{ data.data_date|date:"j/n/y" }} </td>
      <td>
        <form method="POST" action="delete/{{data.id}}">
          {% csrf_token %}
          <div class="btn-group">

            <!-- <a href="detail/{{data.id}}" title="Ver" type="button" class="btn btn-success">Ver </a> -->
            <a href="edit/{{data.id}}" title="Editar" type="button" class="btn btn-primary btn-sm">Editar </a>
            <button class="btn btn-danger btn-sm" type="submit">
              Eliminar
            </button>
          </div>
        </form>

      </td>
    </tr>
  {% empty %}
  <tr>
    <td></td>
    <td>No hay registros</td>
    <td></td>
    <td></td>
    <td><strong>{% now "d-m-y" %}</strong></td>

  </tr>
  {% endfor %}
  {% include "birrita_app/message.html" %}
  </tbody>
</table>
<div align="left" class="btn_crear mb-3">
  <a href="create" type="button" class="btn btn-primary">+</a>
</div>
{% endblock content %}
