{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Editar{% endblock title %}

{% block content %}

<form action="" method="POST" novalidate>
  {% csrf_token %}
  <table class="table table-sm table-responsive">
    <tbody>
      <tr>
        <th>{{ form.bar_name.label_tag }} </th>
        <td>{{ form.bar_name }} <span class="glyphicon glyphicon-plus"></span> <a href="add_bar/"><b>+ Agregar</b></a></td>
      </tr>
      <tr>
        <th>{{ form.brewery.label_tag }} </th>
        <td>{{ form.brewery }} <span class="glyphicon glyphicon-plus"></span> <a href="add_brewery/"><b>+ Agregar</b></a></td>
      </tr>
      <tr>
        <th>{{ form.beer_type.label_tag }} </th>
        <td>
          {{ form.beer_type }}<span class="glyphicon glyphicon-plus"></span> <a href="add/"><b>+ Agregar</b></a>
        </td>
      </tr>
      <tr>
        <th>{{ form.price.label_tag }} </th>
        <td>
          {{ form.price }}
        </td>
      </tr>
      <tr>
        <th>{{ form.price_hh.label_tag }} </th>
        <td>
          {{ form.price_hh }}
        </td>
      </tr>
      <tr>
        <th>{{ form.data_date.label_tag }} </th>
        <td>
          {{ form.data_date }}
        </td>
      </tr>
    </tbody>
  </table>
  <div align="left" class="btn_crear mb-3">
    <input type="submit" class="btn btn-primary" value="+">
  </div>
</form>

{% endblock content %}
